
:root
{
    --cGreen: rgba(20, 255, 23, 0.4);
    --cPipGreen: rgb(20, 255, 23);
    --cRed: rgba(241, 83, 44, 0.8);
    --pageBackground: rgb(25, 30, 25);
    --foregroundColour: white;
    --fSize: 2.2vmin;
}

body
{
    color: var(--foregroundColour);
    background-color: var(--pageBackground);
    font-family: 'Roboto Condensed', sans-serif;
}

button
{
    background-color: var(--pageBackground);
    border: solid var(--foregroundColour) 1px;
    border-radius: 5px;
    color: var(--foregroundColour);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: var(--fSize);
}

a
{
    color: white;
}

a:visited
{
    color: yellow;
}

button:hover
{
    cursor: pointer;
}

.textButton
{
    text-decoration: underline;
    cursor: pointer;
}

.popupBackground
{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 3;
}

.popup
{
    position: absolute;
    width: 50%;
    left: 24%;
    top: 10%;
    padding: 2%;
    background-color: rgba(10, 88, 11, 0.7);
    z-index: 3;
}

.popupBorder
{
    position: absolute;
    width: 98%;
    left: 0;
    top: 0;
    border-top: 3px solid var(--cPipGreen);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.5);
    pointer-events: none;
    padding: 1%;
    z-index: 4;
}

.btnEnd
{
    display: none;
}

.btnEnd:hover
{
    background-color: var(--cRed);
}

.dvObjective
{
    display: grid;
    position: relative;
    padding: 2%;
    user-select: none;
    border: solid var(--foregroundColour) 1px;
    border-radius: 5px;
}

.dvObjective:hover
{
    cursor: pointer;
}

.pObjectiveText
{
    margin: 0;
    text-align: center;
    align-self: center;
    font-size: var(--fSize);
}

.dvObjective > div
{
    opacity: 0;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 5%;
    background-color: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 5px;
}

.dvObjective > div:hover
{
    opacity: 100%;
}

.btnUndoProgress
{
    position: relative;
    left: 50%;
    height: 20%;
    align-self: center;
    background-color: var(--pageBackground);
}

.btnUndoProgress:hover
{
    background-color: var(--cRed);
}

.pProgressText
{
    margin: 0;
    text-align: center;
    align-self: center;
    font-size: var(--fSize);
}

.dvObjectiveNotCompleted
{
    background-color: var(--pageBackground);
}

.dvObjectiveCompleted
{
    background-color: var(--cGreen);
}

#dvTextButtons
{
    position: absolute;
    z-index: 2;
}

#btnUseDefaultObjectives
{
    display: none;
}

#dvWelcome > button
{
    position: absolute;
    width: 80px;
    height: 30px;
    right: 5%;
    bottom: 3%;
    font-size: large;
}

#dvCustomObjectives
{
    display: grid;
}

#inpTextObjectives
{
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;
}

#spCustomObjectiveButtons
{
    display: flex;
    flex-direction: row-reverse;
}

#spCustomObjectiveButtons > button
{
    width: 80px;
    height: 30px;
    font-size: large;
}

#dvTimer
{
    position: relative;
    width: 85vmin;
    left: calc((100vw - 85vmin) / 2);
    margin-bottom: 1%;
}

#dvTimer > button
{
    position: absolute;
    width: 19.5%;
    height: 100%;
    right: 20%;
    top: 0;
    box-shadow: none;
}

#dvtimer > button:hover
{
    cursor: pointer;
}

#pTimer
{
    position: relative;
    width: 19.5%;
    left: 20%;
    margin: 0;
    font-size: xxx-large;
    text-align: left;
}

#pCountdown
{
    display: none;
    position: absolute;
    width: 19.5%;
    right: 20%;
    top: 0;
    margin: 0;
    font-size: xxx-large;
    text-align: center;
}

#btnStartGame
{
    background-color: var(--pageBackground);
}

#btnStartGame:hover
{
    background-color: var(--cGreen);   
}

#dvBoard
{
    position: relative;
    width: 85vmin;
    left: calc((100vw - 85vmin) / 2);
    aspect-ratio: 1;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1%;

    pointer-events: none;
}